.parent 
{
    position: relative;
    margin: 0 auto;
    width:625px;
    height: 400px;
    background-color: orange;
}
.parent span 
{
    color: white;
}
.child1
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 15px;
    width: 180px;
    height: 100px;
    background-color: rgb(255, 0, 255);
    border: 7px solid white;
    border-radius: 5px;
}
.child2
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    right: 15px;
    width: 180px;
    height: 100px;
    background-color: rgb(255, 0, 255);
    border: 7px solid white;
    border-radius: 5px;
}
.child3
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 80%;
    bottom: 30px;
    width: 180px;
    height: 100px;
    background-color: rgb(255, 0, 255);
    border: 7px solid rgb(83, 4, 83);
    border-radius: 5px;
}